html {
    scroll-behavior: smooth;
}
.App {
    text-align: center;
    background-image: url("./assets/bg.png");
    background-size: cover;
    /* padding: 0 !important; */
    background-attachment: fixed;
    color: #e6e6e6;
    height: 100%;
    width: 100%;
    /* background: #0f0c29; */
    /* background: -webkit-linear-gradient(
        to right,
        #24243e,
        #302b63,
        #0f0c29
    ); 
    background: linear-gradient(
        to right,
        #24243e,
        #302b63,
        #0f0c29
    );  */

    font-family: "century";

    overflow-x: hidden;
}

@font-face {
    font-family: "century";
    src: url("./assets/fonts/gothic-webfont.woff2") format("woff2"),
        url("./assets/fonts/gothic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #24243e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1d1d1d;
}
