.App {
    text-align: center;
    /* background: #010e19; */
    background: #010e19;

    /* background: #141e30;
    background: -webkit-linear-gradient(to left, #243b55, #141e30);
    background: linear-gradient(to left, #243b55, #141e30); */

    /* background: #141e30; */
    background: -webkit-linear-gradient(to right, #010e19, #141e30);
    background: linear-gradient(to right, #010e19, #141e30);
    color: #f5f5f5;
    font-family: "century";
}

@font-face {
    font-family: "century";
    src: url("./assets/fonts/gothic-webfont.woff2") format("woff2"),
        url("./assets/fonts/gothic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
